.header_1 {
  font-size: 48px;
}
.header_2 {
  font-size: 42px;
}
.header_3 {
  font-size: 36px;
}


.subheader_1 {
  font-size: 24px;
}
.subheader_2 {
  font-size: 22px;
}
.subheader_3 {
  font-size: 20px;
}

.input_label {
  font-size: 22px;
}


